BasedOnStyle: LLVM

IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 120

BreakBeforeBraces: Allman
AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false

BinPackArguments: false
BinPackParameters: false
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
AlignAfterOpenBracket: Align
ContinuationIndentWidth: 4
PenaltyBreakBeforeFirstCallParameter: 100
PenaltyBreakOpenParenthesis: 100

AlignConsecutiveAssignments: false
BreakBeforeBinaryOperators: NonAssignment
PenaltyBreakAssignment: 1000
AlignOperands: Align

BreakBeforeTernaryOperators: true
SpaceBeforeParens: ControlStatements
SpacesInParentheses: false
SpacesInSquareBrackets: false

DerivePointerAlignment: false
PointerAlignment: Right
ReferenceAlignment: Pointer

MaxEmptyLinesToKeep: 1
KeepEmptyLinesAtTheStartOfBlocks: false

SortIncludes: Never
IncludeBlocks: Preserve

IndentCaseLabels: true
IndentCaseBlocks: false

ReflowComments: false

NamespaceIndentation: All
CompactNamespaces: false
FixNamespaceComments: false

PackConstructorInitializers: Never
BreakConstructorInitializers: AfterColon

AccessModifierOffset: -4
SpacesBeforeTrailingComments: 1
